html,body{
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    line-height:normal;
    font-family: 'Proxima-Nova',Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
/* .hidden{
    display: none !important;
} */
/**
* header css starts 
*/
header{
    background-color:rgb(36, 35, 35);
    position: sticky;
    top:0px;
    z-index: 200;
    
}
.header-cont{
    display: flex;
    color: white;  
    flex-direction: row;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
}
.hamburger-menu .svg_color{
     fill: hsla(0,0%,100%,.8);
}
.logo svg {
    width: 100px;
    height: 26px;
    margin-top: 8px;
}
.search-input svg{
    margin: 0 4px;
}
.login-cta,.icon-cont svg{
    margin: 8px;
}
header a{
    display: inline-block;
}
.hamburger-menu,.logo,.search-input{
    margin-right: 27px;
}
    
.search-input{
    display: inline-flex;
    flex-direction: row;
    border-radius: 30px;
    align-items: center;
    max-width: 500px;
    height: 40px;
    padding: 0 10px;
    flex: 1;
    box-sizing: border-box;
    color: #8e8e93;
    font-size: 12px;
    background-color: #1b1b1b;
    border: 1px solid hsla(0,0%,100%,.1);
}
.search-input .svg_color{
    fill: #8e8e93;
}
.search-input input{
    background-color: transparent;
    background: none;
    outline: none;
    height: 38px;
    color: white;
    border: none;
}
.header-btn{
    background-color: white;
    color: black;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid white;
    padding: 9px 20px 7px;
    margin-right: 20px;
}
/**
* header css close
*/

/**
* navbar css starts
*/
.navigation-menu{
    position: sticky;
    top:60px;
    min-height: 60px;
    background-color: #1b1b1b;
    z-index: 200;
   
}
.nav-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
}
.nav-link{
    color:hsla(0,0%,100%,.9);
    font-size: 16px;
    margin-right: 30px;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: -.09px;
    text-transform: capitalize;
}
/**
* navbar css close
*/

/**
* 2col css starts
*/
.two-col-layout{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.music-libs{  
    flex: 7;
    max-width: clac(100%-90px);
    padding: 0 45px;
    margin: 0 auto 100px;
    max-width: 70%;
    
}
.ad-cont{
    flex: 2;
    max-width: 30%;
    background-color: #1E1E1E;
}
/**
* 2col css  close
*/

/**
* slider css starts
*/
/**
* slider css close
*/


/**
* songs-sections css starts
*/
.songs-sections{
    margin: 50px 0;
    
}
.section-heading{
    margin-bottom: 20px;
    font-size: 24px;
    color: hsla(0,0%,100%,.9);
    text-transform: capitalize;
}
.songs-cont{
    display: flex;
    flex-direction: row;
    overflow: hidden;

}
.song-card{
    display: flex;
    flex-direction: column;
    margin-right: 45px;
}
.song-card:hover .overlay{
    visibility: visible;
}
.song-card:hover .img-cont{
    filter: brightness(.75);
}

.img-cont{
    height: 160px;
    width: 160px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    
}
.song-name{
    margin-top: 6px;
    font-size: 16px;
    color: hsla(0,0%,100%,.9);
}
.overlay{
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    background-color: rgba(0,0,0,.3);
    cursor: pointer;
    background-image: url(https://a10.gaanacdn.com/gn_img/images/play_1621599900.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: calc(50% + 1px) 50%;
}
    
/**
* songs-sections css close
*/

/**
* music-player css starts
*/
.music-player{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #222428;
    padding: 15px 25px;
    box-shadow:  0 0 4px 0 rgb(0 0 0 / 50%);
    z-index: 100;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.current-music-playing{
    align-items: center;
    flex: 1;
}
.song-cover{
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
}
.t_over{
    font-size: 15px;
    color: white;
}
.t_over2{
    font-size: 12px;
    margin-top: 4px;
    color: rgba(255, 255, 255, .7)
}
.song-info{
    flex-direction: column;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
}
.music-controls{
    align-items: center;
    flex: 1;
    justify-content: center;
    padding-left: 20px;
}
.time{
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255,.8);
    color: rgb(255, 255, 255,.8);
    font-size: 12px;
    padding: 6px 16px;
}
.music-controls button, .music-quality button, .song-actions button{
    margin: 0 12px;
    border: none;
    outline: none;
    background-color: transparent;
}
.music-controls .svg_color,.music-quality .svg_color {
    fill: white;
}
.play{
    background-color: red !important;
    border-radius: 35px;
    height: 32px;
    width: 32px;
}
.next svg{
    transform: rotateY(180deg);
}
.music-quality{
    flex: 1;
    justify-content: flex-end;
}
/**
* music-player css closed
*/